layout {
    pane size=1 borderless=true {
        plugin location="file:/home/ludo/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} #[fg=#719cd6,bold]{session} {tabs}"
            format_right "{command_git_branch} {datetime}"
            format_space ""

            border_enabled  "false"
            border_char     "_"
            border_format   "#[fg=#aeafb0]{char}"
            border_position "bottom"

            mode_normal  "#[fg=#192330,bg=#719cd6] {name} "
            mode_locked  "#[fg=#192330,bg=#c94f6d] {name} "
            mode_resize  "#[fg=#192330,bg=#81b29a] {name} "
            mode_pane  "#[fg=#192330,bg=#dbc074] {name} "
            mode_tab  "#[fg=#192330,bg=#dbc074] {name} "
            mode_rename_tab  "#[fg=#192330,bg=#f4a261] {name}"
            mode_rename_pane  "#[fg=#192330,bg=#f4a261] {name}"

            tab_normal   "#[fg=#585b70] {name} "
            tab_active   "#[fg=#cdcecf,bold,italic] {name} "

            datetime        "#[fg=#63cdcf,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
        }
    }
    pane
}
