layout {
    pane size=1 borderless=true {
        plugin location="file:/home/ludo/.config/zellij/plugins/zjstatus.wasm" {
            format_left  "{mode} #[fg=#89B4FA,bold]{session} {tabs}"
            format_right "{command_git_branch} {datetime}"
            format_space ""

            border_enabled  "false"
            border_char     "─"
            border_format   "#[fg=#6C7086]{char}"
            border_position "top"

            hide_frame_for_single_pane "true"

            mode_normal  "#[fg=blue] {name} "
            mode_locked  "#[fg=blue] {name} "
            mode_resize  "#[fg=blue] {name} "
            mode_pane  "#[fg=blue] {name} "
            mode_tab  "#[fg=blue] {name} "
            mode_rename_tab  "#[fg=blue] {name}"
            mode_rename_pane  "#[fg=blue] {name}"

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%A, %d %b %Y %H:%M"
            datetime_timezone "Europe/Berlin"
        }
    }

    pane

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}
